include README.md
include LICENSE
include .gitignore

include server.py
include config.json
include install.sh
include uninstall.sh

recursive-include web *
recursive-include paperspider *
recursive-include paperspider-db *
recursive-include service.d *

global-exclude *.pyc
global-exclude .DS_Store
global-exclude .idea
global-exclude __pycache__

prune db_backup
prune test
prune dev