{% extends "base.html" %}

{% block content %}
<div class="app">
    <div class="article" style="font-weight: bold">
        {{ email_info.update_date_weekday }}, {{ email_info.announcement_date }} from {{ email_info.subject }} ({{ email_info.num_papers }} papers)
    </div>
    {% for paper in papers %}
    <div class="article">
        <div class="article-title">
            <a href="{{ paper.url }}" target="_blank">{{ paper.title }}</a>
        </div>
        <div class="article-meta">
            {{ paper.idx }} | <span class="article-journal">{{ paper.journal }}</span> |
            {{ paper.score_by_keywords }} pt ({{ paper.keywords }}) | {{ paper.authors }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
