body {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: monospace;
    background-color: #f6f6ef;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
}

.app {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    text-decoration: none;
    color: #000000;
}
.title a {
    text-decoration: none;
    color: #000000;
}
.title a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* index.html */
.mail {
    font-family: monospace;
    margin-bottom: 0.1rem;
    padding: 0.1rem;
    text-decoration: none;
    font-size: 1rem;
}
.mail a {
    font-weight: bold;
    color: #0473c2;
    text-decoration: none;
}
.mail a:hover {
    color: #ff6600;
    text-decoration: underline;
}
.mail-status {
    color: #828282;
    font-weight: normal;
    font-size: 0.5rem;
}
.mail-link-wrapper {
    display: inline-block;
    position: relative;
}
.status {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -6px;
    width: 8px;
    height: 8px;
}
.status.readed polygon {
    fill: #a2a2a2;
}
.status.unread polygon {
    fill: #ff6600;
}
.action-text {
    color: #828282;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    padding: 5px; /* Add some padding to make the shadow box more visible */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}
.action-text:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow box effect */
    background-color: #f0f0f0; /* Optional: a subtle background color on hover */
}

/* mail.html */
.article {
    margin-bottom: 0.3rem;
    /*padding: 0.1rem;*/
    /*background-color: #fff;*/
}
.article-title {
    color: #000;
    font-size: 0.9rem;
}
.article-title a {
    color: #000;
    text-decoration: none;
}
.article-title a:hover {
    color: #d21717;
    text-decoration: none;
}
.article-meta {
    font-size: 0.7rem;
    color: #828282;
}
.article-journal {
    font-weight: bold;
    font-size: 0.8rem;
    color: #828282;
}

/*.article-meta a {*/
/*    color: #d21717;*/
/*    text-decoration: none;*/
/*}*/
/*.article-meta a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*.papers-list {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*}*/

/*.papers-list li {*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*.papers-list .title, .papers-list .journal, .papers-list .authors {*/
/*    display: block;*/
/*    font-size: 1.1em;*/
/*    color: #333;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.papers-list .title strong, .papers-list .journal strong, .papers-list .authors strong {*/
/*    font-weight: bold;*/
/*}*/
